

body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-left: 1em;
  padding-right: 1em;
}

.container {
  display: flex;
  flex-direction: column;
}

.image-container {
  flex: 3;
  display: flex;
  align-items: center;
  background: contain;
  margin-bottom: 1em;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.bars-container {
  flex: 7;
  display: flex;
  flex-direction: column;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
  padding: 0.5em;
  box-sizing: border-box;
  border: 0.10em solid black; 
  font-size: 1em; 

  &.good {
    background-color: #00e400;
    height: 1.5em;
    margin-bottom: 0;
  }

  &.moderate {
    background-color: #feff00;
    height: 4.4em;
    margin-bottom: 0;
  }

  &.sensitive {
    background-color: #ff7e00;
    height: 3em;
    margin-bottom: 0;
    
  }

  &.unhealthy {
    background-color: #fe0000;
    height: 3.8em;
    margin-bottom: 0;
  }

  &.very-unhealthy {
    background-color: #98014a;
    height: 3em;
    margin-bottom: 0;
  }

  &.hazardous {
    background-color: #7e0222;
    height: 4em;
    margin-bottom: 0;
  }
}
