.nav-link {
    margin-right: 20px; 
    margin-top: 0%;
}

/* Asegúrate de que el último enlace no tenga un margen a la derecha */
.nav-link:last-child {
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: flex-end;
   
}
