.iaqi-good {
    color: black;
    background-color: green;
}

.iaqi-moderate {
    color: black;
    background-color: yellow;
}

.iaqi-unhealthy-sens {
    color: black;
    background-color: orange;
}

.iaqi-unhealthy {
    color: black;
        background-color: red;
}

.iaqi-very-unhealthy {
    color: black;
        background-color: purple;
}

.iaqi-hazardous {
    color: black;
    background-color: rgb(88, 6, 6);
}
.css-2ulfj5-MuiTypography-root{
    background-color: #A8E060;

}
